/* You can add global styles to this file, and also import other style files */
@use 'styles/styles' as ui;

:root {
  @include ui.named-colors();
}

@include ui.core-defaults();
@include ui.input-defaults();
@include ui.selection-defaults();

body {
  background-color: var(--grey);
}

.container {
  width: 100%;
  max-width: 680px;
  padding: 0 40px;
  margin: 0 auto;
}
