<div class="top-panel">
  <h2>Inventory</h2>
  <button type="button" (click)="fileUploadInput.click()">
    <span>Upload inventory</span>
    <input
      #fileUploadInput
      type="file"
      name="file"
      id="file"
      class="file-upload-input"
      (change)="handleFileInput($event.target.files.item(0))"
      data-qa="file-upload-input"
    />
  </button>
</div>

<ng-container *ngIf="inventory$ | async as inventory">
  <warehouse-app-inventory-list [inventory]="inventory"></warehouse-app-inventory-list>
</ng-container>
