<div class="card" *ngFor="let product of products">
  <div class="head">
    <h3 class="title">{{ product.name }}</h3>
    <span class="price">€{{ product.price }}</span>
  </div>

  <div class="body">
    <ng-container *ngIf="product.amount; else unavailableAtStock">
      <p class="stock available"
        >Available at stock: <strong>{{ product.amount }}</strong></p
      >
    </ng-container>
    <ng-template #unavailableAtStock>
      <p class="stock unavailable">Unavailable at stock</p>
    </ng-template>
    <button class="button" *ngIf="product.amount" type="button" (click)="handleOrderButtonClick(product)">Buy</button>
  </div>
</div>
